# Environment variables example
# Copy this file to .env and fill in your values

# Django settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=unsafe-development-key-change-me

# Database used by run, scanner, scan, and makemigrations via your .env & .env.docker
# Choose PostgreSQL:
# DATABASE_URL=postgres://sopds:sopds@127.0.0.1:5432/sopds
# Or choose MySQL/MariaDB:
# DATABASE_URL=mysql://root:sopds@127.0.0.1:3306/sopds?charset=utf8mb4&collation=utf8mb4_nopad_bin

# Both databases are used by make test and make migrate.
DATABASE_URL_POSTGRESQL=postgres://sopds:sopds@127.0.0.1:5432/sopds
DATABASE_URL_MYSQL=mysql://root:sopds@127.0.0.1:3306/sopds?charset=utf8mb4&collation=utf8mb4_nopad_bin

# Superuser settings
DJANGO_SUPERUSER_USERNAME=root
DJANGO_SUPERUSER_PASSWORD=Ab,12345
DJANGO_SUPERUSER_EMAIL=root@localhost
