{% extends "sopds_main.html" %}
{% load static %}
{% load i18n %}

{% block body %}
{% autoescape on %}
<table class="selector-table clickable-rows">
{%  for chars in items %}
<tr>
	<td>
	{% if chars.cnt >= splititems %}
	   <a class="selector-link" href="{% url "web:series" %}?lang={{lang_code}}&chars={{chars.id|urlencode|iriencode}}">
	{% else %}
	   <a class="selector-link" href="{% url "web:searchseries" %}?searchtype=b&searchterms={{chars.id|urlencode|iriencode}}">
	{% endif %}
	{{ chars.id }}
	<span class="selector-link__count">{% blocktrans with chars_cnt=chars.cnt %}Total: {{ chars_cnt }} series.{% endblocktrans %}</span>
	</a>
	</td>
</tr>
{% endfor %}
</table>
{% endautoescape %}


{% endblock %}  {# body #}
