{% load static %}
{% load i18n %}

  <div class="small-12 column" style="padding:0;">
  <form method="get" action="{% url "web:searchbooks" %}" id="searchform">
  {% csrf_token %}

    <div class="input-group">
		<input class="input-group-field" type="search" name="searchterms" placeholder="Search" id="main_searchbox" minlength="3" required>

		<div class="input-group-button">
		      <button class="button" type="submit" name="submit">{% trans "Search" %}</button>
		</div>

		<div class="input-group-button">
		      <a class="dropdown button arrow-only float-right" data-toggle="search-dropdown"></a>
		</div>
		<input type="hidden" name="page" value="0">
	</div>

	<div class="dropdown-pane bottom" id="search-dropdown" data-dropdown>
	  <div class="row">
	  <fieldset class="large-12 columns">
	    <legend>{% trans "Choose Search Type:" %}</legend>
	    <input type="radio" name="searchtype" value="m" id="title" data-search-url="{% url "web:searchbooks" %}" {% if searchobject == "title" or not searchobject %}checked{%endif%}><label for="title">{% trans "Title" %}</label>
	    <input type="radio" name="searchtype" value="m" id="author" data-search-url="{% url "web:searchauthors" %}" {% if searchobject == "author" %}checked{%endif%}><label for="author">{% trans "Author" %}</label>
	    <input type="radio" name="searchtype" value="m" id="series" data-search-url="{% url "web:searchseries" %}" {% if searchobject == "series" %}checked{%endif%}><label for="series">{% trans "Series" %}</label>
	  </fieldset>
	  </div>
	</div>

  </form>

  </div>
