{% extends "sopds_main.html" %}
{% load i18n static %}

{% block body %}
<div id="DeleteBookModal" class="reveal tiny text-center" data-reveal data-cover-url="{% url "opds:covertmpl" %}">
  <h5 id="DeleteBookModalTitle">{% trans "Confirm the deletion of the book to your bookshelf." %}</h5>
  <table>
    <tr>
      <td width="100px" style="padding:0rem 0rem;"><img class="thumbnail" src="" id="DeleteBook_image" alt=""></td>
      <td style="font-size:100%; padding:3px"><p id="DeleteBook_title"></p></td>
    </tr>
  </table>
  <form method="post" action="{% url "web:bsdel" %}">
    {% csrf_token %}
    <input type="hidden" name="book" id="DeleteBook_book">
    <p class="text-center">
      <button type="submit" class="alert button">{% trans "Delete" %}</button>
      &nbsp;&nbsp;&nbsp;<a class="secondary button" data-close>{% trans "Cancel" %}</a>
    </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
</div>
{% if isbookshelf %}
<div id="ConfirmModal" class="reveal tiny text-center" data-reveal>
  <h5 id="ConfirmModalTitle">{% trans "Confirm to clear your bookshelf." %}</h5>
  <form method="post" action="{% url "web:bsclear" %}">
    {% csrf_token %}
    <p class="text-center">
      <button type="submit" class="alert button">{% trans "Clear" %}</button>
      &nbsp;&nbsp;&nbsp;<a class="secondary button" data-close>{% trans "Cancel" %}</a>
    </p>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
</div>
<a class="alert button bookshelf-clear-trigger" data-open="ConfirmModal">{% trans "Clear bookshelf" %}</a>
{% endif %}

{% include "sopds_pagination.html" %}
<div
  class="opds-books"
  data-opds-books
  data-feed-url="{{ opds_adapter.feed_url }}"
  data-page-url="{{ opds_adapter.page_url }}"
  data-searchtype="{{ opds_adapter.searchtype }}"
  data-searchterms="{{ opds_adapter.searchterms }}"
  data-searchterms0="{{ opds_adapter.searchterms0 }}"
  data-half-pages="{{ opds_adapter.half_pages }}"
  data-isbookshelf="{{ opds_adapter.isbookshelf|yesno:'1,' }}"
  data-book-name-label="{% trans "Book name" %}"
  data-authors-label="{% translate "Authors" context "book metadata label" %}"
  data-series-label="{% translate "Series" context "book metadata label" %}"
  data-genres-label="{% translate "Genres" context "book metadata label" %}"
  data-file-size-label="{% trans "File size" %}"
  data-file-size-unit="{% trans "KB" %}"
  data-publication-date-label="{% trans "Publication date" %}"
  data-no-cover="{% static 'images/nocover.jpg' %}"
  data-download-label="{% trans "Download" %}"
  data-delete-label="{% trans "Delete" %}"
>
  <p data-opds-loading>{% trans "Loading..." %}</p>
</div>
{% include "sopds_pagination.html" %}
<p class="callout alert" data-opds-error hidden>
  {% trans "Unable to load the catalog." %}
</p>
{% endblock %}
