{% extends "sopds_main.html" %}
{% load i18n static %}

{% block body %}
<dialog id="DeleteBookModal" class="sopds-dialog" aria-labelledby="DeleteBookModalTitle" data-cover-url="{% url "opds:covertmpl" %}">
  <h5 id="DeleteBookModalTitle">{% trans "Confirm the deletion of the book to your bookshelf." %}</h5>
  <table>
    <tr>
      <td><img class="thumbnail" src="" id="DeleteBook_image" alt=""></td>
      <td class="book-cover-cell"><p id="DeleteBook_title"></p></td>
    </tr>
  </table>
  <form method="post" action="{% url "web:bsdel" %}">
    {% csrf_token %}
    <input type="hidden" name="book" id="DeleteBook_book">
    <p class="text-center">
      <button type="submit" class="alert button">{% trans "Delete" %}</button>
      <button class="secondary button" type="button" data-dialog-close>{% trans "Cancel" %}</button>
    </p>
  </form>
</dialog>
{% if isbookshelf %}
<dialog id="ConfirmModal" class="sopds-dialog" aria-labelledby="ConfirmModalTitle">
  <h5 id="ConfirmModalTitle">{% trans "Confirm to clear your bookshelf." %}</h5>
  <form method="post" action="{% url "web:bsclear" %}">
    {% csrf_token %}
    <p class="text-center">
      <button type="submit" class="alert button">{% trans "Clear" %}</button>
      <button class="secondary button" type="button" data-dialog-close>{% trans "Cancel" %}</button>
    </p>
  </form>
</dialog>
<button class="alert button bookshelf-clear-trigger" type="button" data-dialog-open="ConfirmModal">{% trans "Clear bookshelf" %}</button>
{% endif %}

{% include "sopds_pagination.html" %}
<div
  class="opds-books"
  data-opds-books
  data-feed-url="{{ opds_adapter.feed_url }}"
  data-page-url="{{ opds_adapter.page_url }}"
  data-searchtype="{{ opds_adapter.searchtype }}"
  data-searchterms="{{ opds_adapter.searchterms }}"
  data-searchterms0="{{ opds_adapter.searchterms0 }}"
  data-half-pages="{{ opds_adapter.half_pages }}"
  data-isbookshelf="{{ opds_adapter.isbookshelf|yesno:'1,' }}"
  data-book-name-label="{% trans "Book name" %}"
  data-authors-label="{% translate "Authors" context "book metadata label" %}"
  data-series-label="{% translate "Series" context "book metadata label" %}"
  data-genres-label="{% translate "Genres" context "book metadata label" %}"
  data-file-size-label="{% trans "File size" %}"
  data-file-size-unit="{% trans "KB" %}"
  data-publication-date-label="{% trans "Publication date" %}"
  data-no-cover="{% static 'images/nocover.jpg' %}"
  data-download-label="{% trans "Download" %}"
  data-delete-label="{% trans "Delete" %}"
>
  <p data-opds-loading>{% trans "Loading..." %}</p>
</div>
{% include "sopds_pagination.html" %}
<p class="callout alert" data-opds-error hidden>
  {% trans "Unable to load the catalog." %}
</p>
{% endblock %}
